@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>




    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SVC</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>
    <script>
        window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';
    </script>

    <link href="~/MyStyle/style.css" rel="stylesheet" asp-append-version="true" />

    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>

    <script src="~/KendoUi/js/jquery.min.js"></script>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/MyJs/navbar.js"></script>


    @* For Kendo UI*@
    <script src="~/MyJs/grid.js"></script>
    <script src="~/KendoUi/js/kendo.all.min.js"></script>


@*     @{
        var culture = Localizer["culture"];
    }
    <script src="@Url.Content("~/KendoUi/js/cultures/kendo.culture." + culture + ".min.js")"></script>
    <script type="text/javascript">
        kendo.culture("@culture");
    </script> *@


    <script src="~/KendoUi/js/jszip.min.js"></script>


    <script src="~/KendoUi/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/KendoUi/js/kendo.timezones.min.js"></script>

    @* End  Kendo UI*@

    <link href="~/MyKendoUi/kednoedit.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/theme.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Auth/auth.css" rel="stylesheet" asp-append-version="true" />
    <link rel="icon" href='/siteimages/smallLogo.svg' sizes="36x24" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    @* For Navigation Bar*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/NavBar/css/style.css">
    @* End Navigation Bar*@

</head>
<body dir="@Localizer["dir"]" style="background-color:white">
    <div class="wrapper d-flex align-items-stretch">
        <partial name="_AdminSideBar" />

        <div id="content" class="p-4 p-md-5" style="padding-top: 10px !important;">

            <nav class="navbar navbar-expand-lg navbar-light bg-light hozBar" style="margin-bottom:20px !important">
                <div class="container-fluid" style="justify-content:unset !important;">
                    <div>
                        <button type="button" id="sidebarCollapse" class="btn btn-primary toggleNavBar">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Toggle Menu</span>
                        </button>
                    </div>
                    <div>
                        <span id="pageTitle" class="pageTitle"></span>
                    </div>
                </div>



            </nav>

                <div style="width:96% !important">
                <partial name="_MyBreadCrumb" />
                    @RenderBody()
                </div>


        </div>

    </div>

    <environment names="Development">
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    </environment>
</body>





@* For Navigation Bar*@
<script src="~/NavBar/js/jquery.min.js"></script>
<script src="~/NavBar/js/popper.js"></script>
<script src="~/NavBar/js/bootstrap.min.js"></script>
<script src="~/NavBar/js/main.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"81c6ce3a3cdce3ab","b":1,"version":"2023.10.0","token":"cd0b4b3a733644fc843ef0b185f98241"}' crossorigin="anonymous"></script>
@* End Navigation Bar*@

@* For Kendo UI*@
<link href="~/KendoUi/styles/kendo.default-turquoise.min.css" rel="stylesheet" type="text/css" />
<script src="~/KendoUi/js/jquery.min.js"></script>



@* For Kendo UI*@
<script src="~/MyJs/grid.js"></script>
<script src="~/KendoUi/js/kendo.all.min.js"></script>

<script src="~/KendoUi/js/jszip.min.js"></script>


<script src="~/KendoUi/js/kendo.aspnetmvc.min.js"></script>
<script src="~/KendoUi/js/kendo.timezones.min.js"></script>

@* End  Kendo UI*@

@* End  Kendo UI*@


@RenderSection("Scripts", required: false)
</html>

