@model List<CmsDataAccess.DbModels.BillProduct>


@foreach (var product in Model)
{
    <tr>
        <td>
            @product.Product.ProductTranslation
            .FirstOrDefault(pt => pt.LangCode == "en-US")?.Name ?? "Unknown"
        </td>
        <td>@product.Quantity.ToString();</td>
        <td>@product.Price.ToString();</td>
        <td>@product.Discount.ToString();</td>
        <td>@product.Tax.ToString();</td>
    </tr>
}