@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@using CmsResources
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Messages> Localizer;

<form asp-action="index" asp-controller="Login" id="logInForm">

    <div class="container">
        <div class="">

            <div class="row">
                <div class="col-md-5">
                    <br />
                    <br />
                    <br />
                    <center>
                        <img src="~/siteimages/logoWithText.svg" />
                    </center>
                    <br />

                        <center>
                            <h2 style="color:red">
                                @ViewBag.ErrorMessage
                            </h2>

                            <h1 class="LoginTitle">@Localizer["Login"]</h1>

                            <input class="form-control loginInput" type="text" name="username" id="Username" placeholder="@Localizer["E-mail or username"]" required>

                            <br />

                            <div class="form-group">
                                <div class="input-group" id="show_hide_password">
                                    <input class="form-control loginPassword" type="password" name="password" id="Password" placeholder=" @Localizer["Password"]" required>
                                    <div class="input-group-addon">
                                        <a href="" class="passwordEye">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                                                <path opacity="0.2" d="M11.5 5.03125C4.3125 5.03125 1.4375 11.5 1.4375 11.5C1.4375 11.5 4.3125 17.9688 11.5 17.9688C18.6875 17.9688 21.5625 11.5 21.5625 11.5C21.5625 11.5 18.6875 5.03125 11.5 5.03125ZM11.5 15.0938C10.7892 15.0938 10.0944 14.883 9.50342 14.4881C8.91243 14.0932 8.45181 13.5319 8.17981 12.8753C7.9078 12.2186 7.83664 11.496 7.9753 10.7989C8.11397 10.1018 8.45624 9.46143 8.95884 8.95884C9.46143 8.45624 10.1018 8.11397 10.7989 7.9753C11.496 7.83664 12.2186 7.90781 12.8753 8.17981C13.5319 8.45181 14.0932 8.91243 14.4881 9.50342C14.883 10.0944 15.0938 10.7892 15.0938 11.5C15.0938 12.4531 14.7151 13.3672 14.0412 14.0412C13.3672 14.7151 12.4531 15.0938 11.5 15.0938Z" fill="#135053" />
                                                <path d="M4.84437 3.11042C4.78125 3.03927 4.70463 2.98136 4.61897 2.94003C4.5333 2.89871 4.44028 2.8748 4.34531 2.86969C4.25033 2.86458 4.15529 2.87837 4.06568 2.91027C3.97607 2.94216 3.89369 2.99152 3.8233 3.05549C3.75291 3.11946 3.69592 3.19676 3.65563 3.28292C3.61533 3.36907 3.59254 3.46237 3.58857 3.5574C3.5846 3.65243 3.59953 3.7473 3.6325 3.83652C3.66546 3.92574 3.71581 4.00752 3.78062 4.07714L5.50921 5.97913C2.24609 7.98175 0.842726 11.0688 0.780734 11.2089C0.739867 11.3009 0.71875 11.4003 0.71875 11.5009C0.71875 11.6015 0.739867 11.701 0.780734 11.7929C0.812179 11.8639 1.57316 13.5512 3.26491 15.2429C5.51909 17.4962 8.36624 18.6875 11.5 18.6875C13.1105 18.6967 14.7048 18.3651 16.1782 17.7145L18.1547 19.8896C18.2178 19.9608 18.2945 20.0187 18.3801 20.06C18.4658 20.1014 18.5588 20.1253 18.6538 20.1304C18.7488 20.1355 18.8438 20.1217 18.9334 20.0898C19.023 20.0579 19.1054 20.0085 19.1758 19.9446C19.2462 19.8806 19.3032 19.8033 19.3435 19.7171C19.3837 19.631 19.4065 19.5377 19.4105 19.4427C19.4145 19.3476 19.3996 19.2528 19.3666 19.1635C19.3336 19.0743 19.2833 18.9925 19.2185 18.9229L4.84437 3.11042ZM9.09667 9.92417L12.8405 14.0435C12.2767 14.3401 11.6304 14.441 11.003 14.3305C10.3756 14.22 9.80275 13.9042 9.37431 13.4328C8.94586 12.9613 8.68612 12.361 8.63587 11.7259C8.58561 11.0909 8.7477 10.4571 9.09667 9.92417ZM11.5 17.25C8.7346 17.25 6.3187 16.2447 4.31878 14.2627C3.49789 13.4469 2.79972 12.5163 2.24609 11.5C2.66745 10.7103 4.01241 8.50015 6.50019 7.06355L8.11737 8.83796C7.49129 9.63982 7.16884 10.6372 7.20702 11.6538C7.2452 12.6704 7.64155 13.6408 8.32602 14.3935C9.01049 15.1461 9.93901 15.6325 10.9474 15.7668C11.9559 15.901 12.9793 15.6744 13.8368 15.127L15.1602 16.5825C13.9923 17.0306 12.751 17.257 11.5 17.25ZM12.0391 8.67624C11.8518 8.6405 11.6863 8.53182 11.5792 8.37411C11.472 8.21641 11.4319 8.02259 11.4676 7.8353C11.5034 7.64801 11.6121 7.4826 11.7698 7.37544C11.9275 7.26828 12.1213 7.22815 12.3086 7.2639C13.2246 7.44149 14.0587 7.91046 14.6865 8.60085C15.3142 9.29124 15.7019 10.1661 15.7918 11.0948C15.8096 11.2846 15.7512 11.4737 15.6296 11.6204C15.5079 11.7672 15.3329 11.8596 15.1432 11.8774C15.1207 11.8787 15.0982 11.8787 15.0758 11.8774C14.8961 11.8781 14.7227 11.8116 14.5897 11.6909C14.4566 11.5702 14.3736 11.404 14.357 11.2251C14.2965 10.6073 14.0383 10.0256 13.6206 9.56636C13.203 9.10713 12.6483 8.79495 12.0391 8.67624ZM22.2166 11.7929C22.1788 11.8774 21.2687 13.8926 19.2194 15.7281C19.1493 15.7928 19.0671 15.8429 18.9776 15.8756C18.888 15.9082 18.7928 15.9227 18.6975 15.9182C18.6023 15.9137 18.5089 15.8902 18.4228 15.8493C18.3367 15.8083 18.2596 15.7506 18.196 15.6796C18.1324 15.6086 18.0836 15.5256 18.0524 15.4355C18.0212 15.3454 18.0082 15.25 18.0142 15.1548C18.0202 15.0597 18.0451 14.9666 18.0875 14.8812C18.1298 14.7958 18.1887 14.7196 18.2607 14.6571C19.2661 13.7539 20.1107 12.6863 20.7584 11.5C20.2035 10.4828 19.5038 9.55157 18.6812 8.73554C16.6813 6.75538 14.2654 5.75003 11.5 5.75003C10.9173 5.74932 10.3356 5.7965 9.76062 5.89108C9.66712 5.90762 9.57127 5.90546 9.47861 5.88475C9.38595 5.86403 9.29831 5.82515 9.22076 5.77037C9.14321 5.71559 9.07728 5.64599 9.02678 5.56558C8.97629 5.48518 8.94222 5.39556 8.92655 5.30192C8.91089 5.20827 8.91393 5.11245 8.93551 5.01998C8.95708 4.92752 8.99677 4.84025 9.05226 4.7632C9.10776 4.68616 9.17797 4.62088 9.25884 4.57113C9.33972 4.52138 9.42964 4.48815 9.52343 4.47335C10.1767 4.36548 10.8378 4.31169 11.5 4.31253C14.6337 4.31253 17.4809 5.50386 19.7351 7.75804C21.4268 9.4498 22.1878 11.138 22.2192 11.2089C22.2601 11.3009 22.2812 11.4003 22.2812 11.5009C22.2812 11.6015 22.2601 11.701 22.2192 11.7929H22.2166Z" fill="#135053" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <br />
                        </center>
                        <a asp-action="ForgotPassword" class="forgotPassword">@Localizer["Forgot Password?"]</a>
                        <center>

                            <br />
                            <button class="form-control loginBtn" type="submit">
                                @Localizer["Login"]
                            </button>
                        </center>
                        <br />
                        @*                     <div class="divSubscriber">
                        <span class="notRegistered">
                        Not registered yet?
                        </span>
                        <a asp-action="CreateNewAccount" class="subcribe"> Create a new account</a>
                        </div> *@

                </div>

                <div class="col-md-1">


                </div>

                <div class="col-md-6">

                    <img src="/siteimages/loginBg.svg" style="max-width:100%" />

                </div>


            </div>
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });
    });

</script>
