@model MedicalCenter


@{
    if (ViewBag.FromDashboard==0)
    {
        Layout = "../../../Views/Shared/_CenterAdminLayoutWithoutSideBar.cshtml";
    }


}

@inject ISelectListService slSrvc



<form asp-action="Index" asp-controller="Center" method="post" enctype='multipart/form-data'>

<div class="container">

        <input asp-for="ImageName" hidden>
        <input asp-for="Id" hidden>

        <input asp-for="MedicalCenterTranslation[0].LangCode" hidden value="en-US" />
        <input asp-for="MedicalCenterTranslation[1].LangCode" hidden value="ar" />

        <input asp-for="MedicalCenterTranslation[0].MedicalCenterId" hidden>
        <input asp-for="MedicalCenterTranslation[1].MedicalCenterId" hidden>

        <input asp-for="MedicalCenterTranslation[0].Id" hidden>
        <input asp-for="MedicalCenterTranslation[1].Id" hidden>

        <input asp-for="Address.Id" hidden>
        <input asp-for="Address.AddressTranslation[0].Id" hidden>
        <input asp-for="Address.AddressTranslation[1].Id" hidden>

        <input asp-for="Address.AddressTranslation[0].LangCode" hidden value="en-US" />
        <input asp-for="Address.AddressTranslation[1].LangCode" hidden value="ar" />

    <center>

            @{

                if (ViewBag.FromDashboard == 0)
                {
                    <img src="~/siteimages/logoWithText.svg" />
                    <br />
                    <br />
                }
        }


            <h1 class="LoginTitle">@Localizer["Your center details"]</h1>

    </center>

@*     <div class="row" style="align-items:center !important;">
        <div class="col-md-4">
            <div class="form-group">
                <label class="fieldLabel" asp-for="SubscriptionExpireDate"></label>
                <input disabled type="date" class="form-control fieldInput" asp-for="SubscriptionExpireDate" />
                <span class="text-danger" asp-validation-for="SubscriptionExpireDate"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <input disabled asp-for="SubscriptionExpired" class="form-check-input my-checkBox" type="checkbox" />
                <label class="form-check-label fieldLabel" asp-for="SubscriptionExpired"></label>
            </div>
        </div>
    </div> *@


</div>
@* <hr /> *@

    <div class="container">

        <div class="row" style="width:100%;align-items:center;justify-content:center">

            <center>
            @{
                if (!string.IsNullOrEmpty(Model.ImageName))
                {
                    <div onclick="document.getElementById('ImageFile').click()" class="picCircle" id="prevImg" style="cursor:pointer;background-image:url(@Model.ImageFullPath) !important">
                    </div>
                }
                else
                {
                    <div onclick="document.getElementById('ImageFile').click()" class="picCircle" id="prevImg" style="cursor:pointer;">
                    </div>
                }
            }
      
                <div>
                    <span>
                        <i class="fa fa-camera"></i>
                        <span class="uploadPicture"
                              onclick="document.getElementById('ImageFile').click()">
                            @Localizer["Choose Center Logo"]
                        </span>
                    </span>
                    <input type="file" asp-for="ImageFile" onchange="preview()" accept="image/*" style="display:none">
                </div>
            </center>
        </div>
        <br />
        <br />
        <br />

@*         <div class="row">
            <div class="col-md-12">
                <div class="form-check">
                    <input asp-for="ShowInMobileApplication" class="form-check-input my-checkBox" type="checkbox" />
                    <label class="form-check-label fieldLabel" asp-for="ShowInMobileApplication"></label>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <div class="form-check">
                    <input asp-for="UseEmailVerfication" class="form-check-input my-checkBox" type="checkbox" />
                    <label class="form-check-label fieldLabel" asp-for="UseEmailVerfication"></label>
                </div>
            </div>
        </div>
        <br /> 

        <div class="row">
            <div class="col-md-12">
                <div class="form-check">
                    <input asp-for="LockMyCenter" class="form-check-input my-checkBox" type="checkbox" />
                    <label class="form-check-label fieldLabel" asp-for="LockMyCenter"></label>
                </div>
            </div>
        </div>
        <br /> *@

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="fieldLabel" asp-for="TimeZone"></label>
                    <select class="form-control" asp-for="TimeZone" asp-items="@slSrvc.TimeZonesSL()">
                        <option selected>@Localizer["Select Time Zone"]</option>
                        
                    </select>
                    <span class="text-danger" asp-validation-for="TimeZone"></span>
                </div>
            </div>
        </div>
        <br />
        <hr />


        <label class="SectionTilte">Basic Info</label>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="fieldLabel" >Name</label>
                <input type="text" class="form-control fieldInput" asp-for="MedicalCenterTranslation[0].Name" />
                <span class="text-danger" asp-validation-for="MedicalCenterTranslation[0].Name"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label class="fieldLabel" >Description</label>
                <input type="text" class="form-control fieldInput" asp-for="MedicalCenterTranslation[0].Description" />
                <span class="text-danger" asp-validation-for="MedicalCenterTranslation[0].Description"></span>
            </div>
        </div>
        <br />
        <br />
        <hr />

        <div dir="rtl">
            <label class="fieldLabel" style="margin:0px;" dir="rtl">
                المعلومات العامة
            </label>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="fieldLabel" style="margin:0px;" dir="rtl" >الاسم</label>
                    <input type="text" class="form-control fieldInput" asp-for="MedicalCenterTranslation[1].Name" />
                    <span class="text-danger" asp-validation-for="MedicalCenterTranslation[1].Name"></span>
                </div>

                <div class="col-md-4 mb-3">
                    <label class="fieldLabel" style="margin:0px;" dir="rtl" >الوصف</label>
                    <input type="text" class="form-control fieldInput" asp-for="MedicalCenterTranslation[1].Description" />
                    <span class="text-danger" asp-validation-for="MedicalCenterTranslation[1].Description"></span>
                </div>
            </div>
        </div>

        <br />
        <br />
        <hr />

        <label class="SectionTilte">Address</label>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12 mb-3">
                <label class="fieldLabel" >FullAddress</label>
                <input type="text" class="form-control fieldInput" asp-for="Address.AddressTranslation[0].FullAddress" />
                <span class="text-danger" asp-validation-for="Address.AddressTranslation[0].FullAddress"></span>
            </div>

            <div class="col-md-4  mb-3">
                <label class="fieldLabel" >Country</label>
                <input type="text" class="form-control fieldInput" asp-for="Address.AddressTranslation[0].Country" />
                <span class="text-danger" asp-validation-for="Address.AddressTranslation[0].Country"></span>
            </div>

            <div class="col-md-4  mb-3">
                <label class="fieldLabel" >City</label>
                <input type="text" class="form-control fieldInput" asp-for="Address.AddressTranslation[0].City" />
                <span class="text-danger" asp-validation-for="Address.AddressTranslation[0].City"></span>
            </div>

            <div class="col-md-4  mb-3">
                <label class="fieldLabel" >Street</label>
                <input type="text" class="form-control fieldInput" asp-for="Address.AddressTranslation[0].Street" />
                <span class="text-danger" asp-validation-for="Address.AddressTranslation[0].Street"></span>
            </div>

            <div class="col-md-4  mb-3">
                <label class="fieldLabel" >Building</label>
                <input type="text" class="form-control fieldInput" asp-for="Address.AddressTranslation[0].Building" />
                <span class="text-danger" asp-validation-for="Address.AddressTranslation[0].Building"></span>
            </div>
           

        </div>
        <hr />
        <br />
        <br />

        <div dir="rtl">
            <label class="fieldLabel" style="margin:0px;" dir="rtl">
                العنوان
            </label>
            <br />
            <br />
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label class="fieldLabel" style="margin:0px;" dir="rtl">العنوان الكامل</label>
                    <input type="text" class="form-control fieldInput" asp-for="Address.AddressTranslation[1].FullAddress" />
                    <span class="text-danger" asp-validation-for="Address.AddressTranslation[1].FullAddress"></span>
                </div>

                <div class="col-md-4  mb-3">
                    <label class="fieldLabel" style="margin:0px;" dir="rtl">الدولة</label>
                    <input type="text" class="form-control fieldInput" asp-for="Address.AddressTranslation[1].Country" />
                    <span class="text-danger" asp-validation-for="Address.AddressTranslation[1].Country"></span>
                </div>

                <div class="col-md-4  mb-3">
                    <label class="fieldLabel" style="margin:0px;" dir="rtl">المدينة</label>
                    <input type="text" class="form-control fieldInput" asp-for="Address.AddressTranslation[1].City" />
                    <span class="text-danger" asp-validation-for="Address.AddressTranslation[1].City"></span>
                </div>

                <div class="col-md-4  mb-3">
                    <label class="fieldLabel" style="margin:0px;" dir="rtl">الشارع</label>
                    <input type="text" class="form-control fieldInput" asp-for="Address.AddressTranslation[1].Street" />
                    <span class="text-danger" asp-validation-for="Address.AddressTranslation[1].Street"></span>
                </div>

                <div class="col-md-4  mb-3">
                    <label class="fieldLabel" style="margin:0px;">البناء</label>
                    <input type="text" class="form-control fieldInput" asp-for="Address.AddressTranslation[1].Building" />
                    <span class="text-danger" asp-validation-for="Address.AddressTranslation[1].Building"></span>
                </div>

            </div>
        </div>

        <br />
        <br />
        <hr />

        <label class="SectionTilte">@Localizer["Contact info"]</label>
        
        <br />
        <br />

        <div class="@Localizer["k-rtl"]">
        @(
            Html.Kendo().Grid<ContactInfo>()
            .Name("grid")
            .ToolBar
            (
            toolbar =>
            {

                toolbar.Create().Text(@Localizer["Add new"]).IconClass("k-icon k-i-plus k-button-icon").HtmlAttributes(new { @class = "addCtrl" });
                toolbar.Save().SaveText(@Localizer["Save"]).CancelText(@Localizer["Cancel"]).IconClass("fa fa-save").HtmlAttributes(new { @class = "addCtrl" });
                toolbar.Search().Text(Localizer["Search"]);
            }).HtmlAttributes(new { @class = "myToolBar" })

            .Columns(columns =>
            {


                columns.Bound(p => p.ContactType);
                columns.Bound(p => p.ContactValue);

                columns.Command(command =>
                {
                    command.Destroy().TemplateId("Temp_Destroy"); ;
                }).Width(250).Title(" ");
            }

            )
            .Mobile(MobileMode.Auto)
            .Editable(ed =>
            {
                ed.Mode(GridEditMode.InCell);

                ed.DisplayDeleteConfirmation(false);
            })

            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(25)
            .Responsive(true)
            .Info(true)
            .Numeric(true)
            )
            .Sortable()
            .Navigatable()
            .Resizable(r => r.Columns(true))
            .Reorderable(r => r.Columns(true))
                .Filterable(filt =>
                {
                    filt.Messages(msg => msg.And(Localizer["And"]));
                    filt.Messages(msg => msg.Or(Localizer["Or"]));
                    filt.Messages(msg => msg.Equals(Localizer["Equal"]));
                    filt.Messages(msg => msg.Clear(Localizer["Cancel"]));
                    filt.Messages(msg => msg.Filter(Localizer["Search"]));
                    filt.Messages(msg => msg.Info(""));

                    filt.Operators(op => op.ForDate(
                    fs =>
                    {
                        fs.Clear();
                        fs.IsNotEqualTo(Localizer["Equal"]);
                        fs.IsEqualTo(Localizer["Not Equal"]);
                        fs.IsLessThan(Localizer["Smaller"]);
                        fs.IsLessThanOrEqualTo(Localizer["Smaller or Equal"]);
                        fs.IsGreaterThan(Localizer["Greater"]);
                        fs.IsGreaterThanOrEqualTo(Localizer["Greater or Equal"]);
                    }
                    )
                    );

                    filt.Operators(op => op.ForString(
                    fs =>
                    {
                        fs.Clear();
                        fs.StartsWith(Localizer["Starts with"]);
                        fs.EndsWith(Localizer["Ends with"]);
                        fs.Contains(Localizer["Contains"]);
                        fs.IsNotEqualTo(Localizer["Not Equal"]);
                        fs.IsEqualTo(Localizer["Equal"]);
                        fs.DoesNotContain(Localizer["Does not Contain"]);

                    }
                    )
                    );


                    filt.Operators(op => op.ForNumber(
                    fs =>
                    {
                        fs.Clear();
                        fs.IsNotEqualTo(Localizer["Not Equal"]);
                        fs.IsEqualTo(Localizer["Equal"]);

                        fs.IsLessThan(Localizer["Smaller"]);
                        fs.IsLessThanOrEqualTo(Localizer["Smaller or Equal"]);
                        fs.IsGreaterThan(Localizer["Greater"]);
                        fs.IsGreaterThanOrEqualTo(Localizer["Greater or Equal"]);

                    }
                    )
                    );



                })
            .Scrollable()


            .HtmlAttributes(new { @class = "custom-grid",@style="height:400px;" }) // Add a custom class

            .DataSource(
            dataSource => dataSource

            .Ajax()
            .Batch(true)
            .PageSize(20)
            .Model(model => model.Id(p => p.Id))
            .Read(read => read.Action("Read_ContactInfo", "Center").Type(HttpVerbs.Get))

            .Destroy(destroy =>
            {
                destroy.Action("Destroy_ContactInfo", "Center");
            })


            .Create(destroy =>
            {
                destroy.Action("Create_ContactInfo", "Center");
            })

            .Update(destroy =>
            {
                destroy.Action("Update_ContactInfo", "Center");
            })

            .Events(events => events.Sync("sync_handler").RequestEnd("requestEnd").RequestStart("requestStart"))

            )
            @*.Events(events => events.Edit("onEdit"))*@
            .Events(events => events.DataBound("onDataBound"))
            )
        </div>


       @*  <br />
        <br />
        <hr />

        <label class="SectionTilte">Opening hours</label>
        <br />
        <br />

        <div class="col-md-4">
            <div class="form-check">
                <input asp-for="IsTwentyFourHours" class="form-check-input my-checkBox" type="checkbox" />
                <label class="form-check-label fieldLabel" asp-for="IsTwentyFourHours"></label>
            </div>
        </div>
        <br />
        <br />
            <div class="@Localizer["k-rtl"]">
        @(
            Html.Kendo().Grid<OpeningHours>()
            .Name("gridHours")
            .ToolBar
            (
            toolbar =>
            {
                toolbar.Create().Text(@Localizer["Add new"]).IconClass("k-icon k-i-plus k-button-icon").HtmlAttributes(new { @class = "addCtrl" });
            }).HtmlAttributes(new { @class = "myToolBar" })

            .Columns(columns =>
            {


                columns.Bound(p => p.DayOfWeek);
                columns.Bound(p => p.OpeningTime)
                .EditorTemplateName("TimePickerEditor")
                .Format("{0:HH:mm tt}");
                columns.Bound(p => p.ClosingTime);

                columns.Command(command =>
                {
                    command.Edit().TemplateId("Temp_Edit1"); ;

                    command.Destroy().TemplateId("Temp_Destroy1"); ;
                }).Width(250).Title(" "); 
            }

            )
            .Mobile(MobileMode.Auto)
            .Editable(ed =>
            {
                ed.Mode(GridEditMode.PopUp).TemplateName("OpeningHourEditorForCenter");
                ed.DisplayDeleteConfirmation(true);
            })

            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(25)
            .Responsive(true)
            .Info(true)
            .Numeric(true)
            )
            .Sortable()
            .Navigatable()
            .Resizable(r => r.Columns(true))
            .Reorderable(r => r.Columns(true))
            .Filterable()
            .Scrollable()


            .HtmlAttributes(new { @class = "custom-grid", @style = "height:450px;" }) // Add a custom class

            .DataSource(
            dataSource => dataSource

            .Ajax()
            .PageSize(20)
            .Model(model => model.Id(p => p.Id))
            .Read(read => read.Action("Read_OpeningHours", "Center").Type(HttpVerbs.Get))

            .Destroy(destroy =>
            {
                destroy.Action("Destroy_OpeningHours", "Center");
            })


            .Create(destroy =>
            {
                destroy.Action("Create_OpeningHours", "Center");
            })

            .Update(destroy =>
            {
                destroy.Action("Update_OpeningHours", "Center");
            })

            .Events(events => events.Sync("sync_handler").RequestEnd("requestEnd").RequestStart("requestStart"))

            )
            .Events(events => events.DataBound("onDataBound"))
            )
</div>




 *@


        <br />
        <br />
        <br />
        @{
            if (ViewBag.FromDashboard == 0)
            {
                <button type="submit" class="form-control addCtrl"> @Localizer["Save and continue"]</button>

            }
            else
            {
                <button type="submit" class="form-control addCtrl"> @Localizer["Save"]</button>
                

            }
        }


    </div>
</form>


<script>
    function preview(evt) {
        var filee = event.target.files[0];
        document.getElementById('prevImg').style.backgroundImage = "url('" + URL.createObjectURL(filee) + "')";
    }
</script>

<script id="Temp_Destroy" type="text/kendo-tmpl">
    <span class="k-grid-delete" style="font-size:24px;cursor:pointer;color:red"><i class="fa fa-trash"></i></span>
</script>

<script id="Temp_Edit" type="text/kendo-tmpl">
    <span class="k-grid-edit"   style="font-size:24px;cursor:pointer;color:rgba(1, 81, 83, 1)"><i class="fas fa-edit"></i></span>
</script>

<script id="Temp_Destroy1" type="text/kendo-tmpl">
    <span class="k-grid-delete" style="font-size:24px;cursor:pointer;color:red"><i class="fa fa-trash"></i></span>
</script>

<script id="Temp_Edit1" type="text/kendo-tmpl">
    <span class="k-grid-edit"   style="font-size:24px;cursor:pointer;color:var(--site-light-pink)"><i class="fas fa-pencil"></i></span>
</script>